<div class="products-last-collection" *ngIf="products">
  <h2 class="products__title">Ultima coleção</h2>

  <div class="products-container">
    <swiper [config]="swiperConfig">
      <ng-template swiperSlide *ngFor="let product of products.slice(-6 , products.length)">
        <div class="products-card">
          <div class="product-image">
            <img class="product-image__preview" src="{{ product.image }}">
            <div class="product-fav">
              <img src="../../../assets/icons/heart.png" alt="Favoritar">
            </div>
          </div>

          <div class="product-info">
            <div class="product-rating">
              <svg class="product-rating--star" [class.full]="product.rating >= 1" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating >= 2" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating >= 3" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating >= 4" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating == 5" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>

            </div>
            <h3 class="product__title" [routerLink]="['/'+product.category, product.id, product.name]"> {{ product.name
              }} </h3>
            <span class="product__price"> {{ product.price | currency: 'BRL' }}</span>
            <button class="btn add-cart" [routerLink]="['/'+product.category, product.id, product.name]">Visualizar produto</button>


          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>

<div class="offers">
  <div class="offers-card offers-card--1">
    <div class="offers-card-content">
      <p class="offers-card__text">Até 50% de desconto</p>
      <h4 class="offers-card__title">Shorts</h4>
    </div>
  </div>

  <div class="offers-card offers-card--2">
    <div class="offers-card-content">
      <p class="offers-card__text">Até 25% de desconto</p>
      <h4 class="offers-card__title">Roupas de inverno</h4>
    </div>
  </div>

  <div class="offers-card offers-card--3">
    <div class="offers-card-content">
      <p class="offers-card__text">Até 40% de desconto</p>
      <h4 class="offers-card__title">Vestidos</h4>
    </div>
  </div>
</div>

<div class="products-all">
  <h2 class="products__title">Nossos produtos</h2>
  <div class="products-container">
    <swiper [config]="swiperConfig">
      <ng-template swiperSlide *ngFor="let product of products.slice(0 , 6)">
        <div class="products-card">
          <div class="product-image">
            <img class="product-image__preview" src="{{ product.image }}">
            <div class="product-fav">
              <img src="../../../assets/icons/heart.png" alt="Favoritar">
            </div>
          </div>

          <div class="product-info">
            <div class="product-rating">
              <svg class="product-rating--star" [class.full]="product.rating >= 1" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating >= 2" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating >= 3" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating >= 4" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating == 5" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>

            </div>
            <h3 class="product__title" [routerLink]="['/'+product.category, product.id, product.name]"> {{ product.name
              }} </h3>
            <span class="product__price"> {{ product.price | currency: 'BRL' }}</span>
            <button class="btn add-cart" [routerLink]="['/'+product.category, product.id, product.name]">Visualizar produto</button>


          </div>
        </div>
      </ng-template>
    </swiper>

  </div>

  <div class="products-container">
    <swiper [config]="swiperConfig">
      <ng-template swiperSlide *ngFor="let product of products.slice(6 , 12)">
        <div class="products-card">
          <div class="product-image">
            <img class="product-image__preview" src="{{ product.image }}">
            <div class="product-fav">
              <img src="../../../assets/icons/heart.png" alt="Favoritar">
            </div>
          </div>

          <div class="product-info">
            <div class="product-rating">
              <svg class="product-rating--star" [class.full]="product.rating >= 1" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating >= 2" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating >= 3" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating >= 4" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>
              <svg class="product-rating--star" [class.full]="product.rating == 5" xmlns="http://www.w3.org/2000/svg"
                width="18" height="18" viewBox="0 0 24 24">
                <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z" />
              </svg>

            </div>
            <h3 class="product__title" [routerLink]="['/'+product.category, product.id, product.name]"> {{ product.name
              }} </h3>
            <span class="product__price"> {{ product.price | currency: 'BRL' }}</span>
            <button class="btn add-cart" [routerLink]="['/'+product.category, product.id, product.name]">Visualizar produto</button>


          </div>
        </div>
      </ng-template>
    </swiper>

  </div>
</div>