<div class="cart-container" [class.active]="openCart">
  <div class="cart">
    <div class="cart-header">
      <button class="cart-header-btn" (click)="toggleCart()" aria-label="Fechar carrinho de compras"
        [attr.aria-expanded]="openCart">
      </button>
      <h3 class="cart-header__title">Carrinho de compras</h3>
    </div>


    <div *ngIf="cartItems.length === 0" class="cart-content">
      <div class="cart-empty">
        <h4>Seu carrinho está vazio :(</h4>
      </div>
    </div>

    <div class="cart-content" *ngIf="cartItems.length >= 1">
      <div class="cart-product" *ngFor="let item of cartItems; let index = index">
        <img class="cart-product__image" src="{{ item.image }}" alt="Produto">
        <div class="cart-product__info">
          <h5 class="cart-product__name"> {{ item.name }}</h5>
          <span class="cart-product__price"> {{ item.price | currency: 'BRL'}} </span>
          <span>Tamanho: {{ item.size }}</span>
        </div>
        <div class="cart-product__amount">
          <button class="input-btn" aria-label="Diminuir produto em 1 unidade" (click)="decrements(item)">-</button>
          <input type="text" readonly [value]="item.quantity">
          <button class="input-btn" aria-label="Aumentar produto em 1 unidade" (click)="increments(item)">+</button>
        </div>
        <button class="cart-product__remove" aria-label="Remover produto do carrinho"
          (click)="removeCart(index)"></button>
      </div>

      <div class="cart-footer">
        <div class="cart-notice">
          <div *ngIf="total < 200">
            <p>Faltam {{ 200 - total | currency: 'BRL'}} para você</p>
            <p>Ganhar Frete Grátis</p>
          </div>
          <div *ngIf="total >= 200">
            <p> Você ganhou frete grátis!</p>
          </div>

        </div>
        <div class="cart-total">
          <div>
            <h5>Total: {{ total | currency: 'BRL'}}</h5>
            <span>até 3x de {{ total / 3 | currency: 'BRL'}} sem juros</span>
          </div>
          <div class="cart__buy">
            <button class="btn">Finalizar compra</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>