@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  color: var(--white);
  font-size: var(--font-lg);
  width: 200px;
  height: 50px;
  background-color: var(--primary-color);
  transition: .5s;
  cursor: pointer;

  &:hover {
    background: var(--secondary-color);
  }
}