:root {
  --primary-color: #0b345a;
  --secondary-color: #04203a;
  --black: #1b1b1b;
  --white: #fff;

  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 16px;
  --font-xl: 20px;
  --font-xxl: 25px;
  --font-xxvl: 32px;
  --font-xxxl: 48px;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
}
