<footer>
  <div class="container">
    <div class="newsletter">
      <div class="newsletter-flex">
        <img src="../../../assets/icons/mail.png" alt="Envelope">
        <h4 class="newsletter__title">Newsletter</h4>
      </div>

      <p class="newsletter__text">Obtenha 30% de desconto com notificações sobre as últimas notícias e atualizações.</p>

      <form class="newsletter-form">
        <label class="sr-only">Digite o seu endereço de e-mail</label>
        <input class="newsletter__input" type="email" placeholder="Digite o seu endereço de e-mail" required>
        <button class="newsletter__send" type="submit"></button>
      </form>
    </div>
  </div>

  <div class="information">
    <div class="container">
      <dl class="information-links">
        <div>
          <dt>Sobre</dt>
          <dd>
            <ul>
              <li>Sobre nós</li>
              <li>Informações de entrega</li>
              <li>Política de privacidade</li>
              <li>Termos e condições</li>
              <li>Contato</li>
            </ul>
          </dd>
        </div>


        <div>
          <dt>Ajuda</dt>
          <dd>
            <ul>
              <li>Contato</li>
              <li>Marcas</li>
              <li>Desconto especial</li>
              <li>Parceiros</li>
              <li>Pedidos</li>
            </ul>
          </dd>
        </div>

        <div>
          <dt>Política</dt>
          <dd>
            <ul>
              <li>Política</li>
              <li>Histórico de pedidos</li>
              <li>Marcas</li>
              <li>Mapa do site</li>
              <li>Newsletter</li>
            </ul>
          </dd>
        </div>

        <div>
          <dt>Informações rápidas</dt>
          <dd>
            <ul>
              <li>
                <img src="../../../assets/icons/pin.png" alt="Ìcone Pin">
                Avenida Dr. Cardoso de Melo, 900, 5º andar, Vila Olímpia
              </li>
              <li>
                <img src="../../../assets/icons/phone-call.png" alt="Ícone Telefone">
                (11) 3512-9880 / (21) 3512-9880
              </li>
              <li>
                <img src="../../../assets/icons/mail-small.png" alt="Ìcone E-mail">

                contato@bluemodas.com.br
              </li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <div class="copy">
    <p>© Copyright - 2021 Blue Moedas By Rodrigo Vianna</p>
    <div class="payments">
      <img src="../../../assets/icons/visa.png" alt="Mastercard">
      <img src="../../../assets/icons/mastercard.png" alt="Visa">
      <img src="../../../assets/icons/paypal.png" alt="Paypal">
      <img src="../../../assets/icons/bitcoin.png" alt="Bitcoin">
    </div>
  </div>
</footer>