<header>
  <!-- header-top -->
  <div class="header-top"> 
    <div class="container">
       <span>Frete grátis em compras acima de R$200,00</span>
    </div>
  </div>
  <!-- header-top -->


  <div class="header">
    <div class="header-content container">
      <h1><img class="logo" src="../../assets/logo.svg" alt="Blue Modas"></h1>    
      <nav class="header-menu">
        <ul class="header-menu__list">
          <li class="header-menu__item active">Home</li>
          <li class="header-menu__item">Coleção</li>                 
          <li class="header-menu__item">Sobre</li>
          <li class="header-menu__item">Ajuda</li>
        </ul>
      </nav>
      
      <div class="header-right">        
        <div class="header-search">
          <img src="../../assets/icons/search.png" alt="Buscar">
          <label class="sr-only">Buscar</label>
          <input type="text" placeholder="Buscar">
        </div>     
        
        <div class="header-account">
          <img src="../../assets/icons/account.png" alt="Conta">
        </div>

        <div class="header-fav">
          <img src="../../assets/icons/heart.png" alt="Favoritar">
        </div>

        <div class="header-cart">
          <img src="../../assets/icons/cart.png" alt="Sacola">
          <div class="header-cart__item">
            <span>0</span>
          </div>
        </div>
      </div>     

    </div>
  </div>      
</header>