@use '../../../assets/scss/mixins';

.header {
  background-color: var(--white);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);    
 

  #btn-mobile {
    display: none;
  }
  
  &-top {    
    z-index: 100;
    background-color: var(--primary-color);
    color: var(--white);
    padding: var(--space-sm) 0;
    font-weight: 600;
    text-align: center;
    font-size: var(--font-md);   
  }

  &-content {
    @include mixins.flex;
    padding: 25px 0;    
  }

  &-menu {  
    &__list {
      display: flex;
      gap: 25px;
    }

    &__item {      
      text-transform: uppercase;
      font-weight: 600;
      color: va(--black);
      letter-spacing: 1px;
      cursor: pointer;               

      &::after {
        content: '';
        display: block;        
        width: 0;
        height: 2px;
        margin-top: 2px;
        background-color: var(--primary-color);
        transition: .3s;        
      }

      &:hover::after {
        width: 100%;
      }

      &.active {
        color: var(--primary-color);
        font-weight: 700;

        &::after {
          width: 100%;
        }
      }
    }
  }

  &-right {
    @include mixins.flex;
    gap: 25px;
  }

  &-search,
  &-account,
  &-fav,
  &-cart {
     cursor: pointer;
  }

  &-search {
    @include mixins.flex;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    padding-bottom: 2px;

    input {
      border: none;
      outline: none;
      font-size: var(--font-lg);
      width: 55px;
      margin-left: 5px;     
      transition: .4s;

      &:focus {
        width: 100px;
      }
    }
  }

  &-cart {
    position: relative;   

    &__item {
      @include mixins.flex-center;      
      position: absolute;
      top: -5px;
      right: -10px;
      background-color: var(--primary-color);
      width: 22px;
      height: 22px;
      border-radius: 25px;
      font-size: var(--font-md);
      font-weight: 700;     
      color: var(--white);
    }
  }

  @media only screen and (max-width: 940px) {     
    
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 125px;         
      left: 0;      
      width: 0;
      background: var(--grey);
      height: 250px;
      transition: 0.4s;
      z-index: 100;
    }

    #btn-mobile {
      display: block;
      background: none;
      border: none;
      border-top: 3px solid #000;
      width: 35px;
      cursor: pointer;

      &:after,
      &:before {
        content: "";
        display: block;
        width: 35px;
        height: 3px;
        background: #000;
        margin-top: 7px;
        transition: 0.5s;
      }
    }

    &-menu {
      display: none;
    }

    &-right {
      gap: 10px;
    }

    &-search {
      border: none;
      input {
        display: none;
      }
    }

    // open menu
    &.active {
      &:after {
        width: 25%;
      }

      #btn-mobile {
        border-top: none;

        &::after {
          position: relative;
          top: -10px;
          transform: rotate(-135deg);
        }
        &::before {
          transform: rotate(135deg);
        }
      }

      .header-menu {
        display: block;  
        position: absolute; 
        top: 160px;   
        z-index: 101;

        &__list {
          flex-direction: column;
        }
      }
    }
  }

  @media only screen and (max-width: 450px) {
    &.active:after {
      width: 150px;
    }
    &-content {
      .logo {
        width: 160px;
      }
    }
  }
}