<header>
  <!-- header-top -->
  <div class="header-top"> 
    <div class="container">
       <span>Frete grátis em compras acima de R$200,00</span>
    </div>
  </div>
  <!-- header-top -->


  <div class="header">
    <div class="header-content container">
      <h1>
        <a routerLink="home">
          <img class="logo" src="../../assets/logo.svg" alt="Blue Modas">
        </a> 
      </h1> 
      <nav class="header-menu">
        <ul class="header-menu__list">
          <li class="header-menu__item" routerLinkActive="active">
            <a routerLink="home">Home</a>
          </li>
          <li class="header-menu__item" routerLinkActive="active">
            <a>Coleção</a>
          </li>                 
          <li class="header-menu__item" routerLinkActive="active">Sobre</li>
          <li class="header-menu__item" routerLinkActive="active">Ajuda</li>
        </ul>
      </nav>
      
      <div class="header-right">        
        <div class="header-search">
          <img src="../../assets/icons/search.png" alt="Buscar">
          <label class="sr-only">Buscar</label>
          <input type="text" placeholder="Buscar">
        </div>     
        
        <div class="header-account" routerLink="login">
          <img src="../../assets/icons/account.png" alt="Conta">
        </div>

        <div class="header-fav">
          <img src="../../assets/icons/heart.png" alt="Favoritar">
        </div>

        <div 
        class="header-cart" 
        (click)="openCart()" 
        [attr.aria-label]="'Carrinho de compra contém ' + cartItems.length + ' produtos'"
        [attr.aria-expanded]="!tsCart"
        >
          <img src="../../assets/icons/cart.png" alt="Sacola">
          <div class="header-cart__item">
            <span>{{ cartItems.length }}</span>
          </div>
        </div>
      </div>     

    </div>
  </div>      
</header>


<app-cart 
  [openCart]="tsCart"
  (closeCart)="onCloseCart($event)">
</app-cart>