<div class="banner">
  <div class="banner-content">
    <p class="banner__text">Liquidação de verão 2022</p>
    <h2 class="banner__title">Nova coleção de verão</h2>
    <button class="btn">Explorar</button>
  </div>
</div>

<div class="trending">
  <div class="trending-container">
    <h2 class="trending__title">Tendências</h2>
    <div class="trending-products">
      <div class="trending-product">
        <img src="../../../assets/photo-1.jpg" alt="Photo 1">
       <div>
          <h3>Produto 01</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, necessitatibus.</p>
          <span>R$40,00</span>
        </div>
      </div>
  
      <div class="trending-product">
        <img src="../../../assets/photo-2.jpg" alt="Photo 2">
        <div>
          <h3>Produto 02</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates, necessitatibus.</p>
          <span>R$24,00</span>
        </div>
      </div>     
    </div>
  </div>

</div>

<div class="partners container">
  <ul class="partners__list">
   <li><img src="../../../assets/partners/probel.png" alt="Probel"></li>
   <li><img src="../../../assets/partners/Brooksfield.jpg" alt="Brooksfield"></li>
   <li><img src="../../../assets/partners/nuttybavarian.png" alt="Nutty Bavarian"></li>
   <li><img src="../../../assets/partners/senac.jpg" alt="Senac"></li>
   <li><img src="../../../assets/partners/uol.jpg" alt="Uol"></li>
   <li><img src="../../../assets/partners/BYRK.jpg" alt="Brooksfield"></li>
  </ul>
</div>

<div class="container">
  <app-products></app-products>
</div>