<div class="single-product container">
  <div class="product-preview">
    <!--<swiper
      style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
      [spaceBetween]="10"      
      [thumbs]="{ swiper: thumbsSwiper }"           
      class="mySwiper"
    >
      <ng-template swiperSlide
        ><img
          src="{{ product.image }}" /></ng-template
      ><ng-template swiperSlide
        ><img
          src="../../../assets/photo-2.jpg" /></ng-template
      ><ng-template swiperSlide
        ><img
          src="../../../assets/photo-3.jpg" /></ng-template
      ><ng-template swiperSlide
        ><img
          src="../../../assets/photo-4.jpg" /></ng-template
      >
    </swiper>
    <swiper
      (swiper)="thumbsSwiper = $event"
      [spaceBetween]="10"
      [slidesPerView]="4"
      [freeMode]="true"
      [watchSlidesProgress]="true"      
      class="mySwiper2"
     

    >
    <ng-template swiperSlide
        ><img
          src="{{ product.image }}" /></ng-template
      >><ng-template swiperSlide
    ><img
      src="../../../assets/photo-2.jpg" /></ng-template
  ><ng-template swiperSlide
    ><img
      src="../../../assets/photo-3.jpg" /></ng-template
  ><ng-template swiperSlide
    ><img
      src="../../../assets/photo-4.jpg" /></ng-template
  >
    </swiper> -->
  <img src="{{ product?.image }}">
  </div>

  <div class="product-info">
    <h2 class="product__title"> {{ product?.name }}</h2>
    <div class="product-rating">
      <svg class="product-rating--star" [class.full]="product?.rating >= 1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      <svg class="product-rating--star" [class.full]="product?.rating >= 2" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      <svg class="product-rating--star" [class.full]="product?.rating >= 3" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      <svg class="product-rating--star" [class.full]="product?.rating >= 4"xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      <svg class="product-rating--star" [class.full]="product?.rating == 5" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
      
    </div>

    <h4 class="product__price"> {{product?.price | currency: 'BRL' }}</h4>
    <p class="product__description"> {{ product?.description }}</p>

    <div class="product-sizes">
      <p>Tamanho:</p>
      
      <div class="product-sizes-box">
        <div *ngFor="let size of sizes">        
          <input
          type="radio"
          name="size"
          [value]="size"
          [(ngModel)]="productSize"
          [id]="size"       
          class="sizes--number" 
          >     
          <label [for]="size">{{ size }}</label>
        </div>      
      </div>
    </div>  
    
    <button class="btn add-cart" (click)="addCart()"> Adicionar ao carrinho </button>

    <div class="product-fav">
      <img src="../../../assets/icons/heart.png" alt="Adicionar aos favoritos">
      <h5>Adicionar aos favoritos</h5>
    </div>

    <div class="product-category">
      <h4>Categoria:</h4>
      <span> {{ product?.category }}</span>
    </div>
  
  </div>    
</div>